body {
    background-image: url("images/bg1.gif");
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: auto;

}

@font-face {
    font-family: jedi;
    src:url(jedi.ttf)
}

@font-face {
    font-family: franklin;
    src:url(fg.ttf);
}

.text {
  text-align: center; 
  color: antiquewhite; 
  font-family: jedi;
  font-size: 200px;
  line-height: 80%;
  font-stretch: expanded;
  margin-top: -8rem;
}

.link p {
    text-align: center;
    font-family: franklin;
    font-size: 2rem;
    color: #f8fd3d;
    margin-top: -10rem;
}